{% extends 'base.html.twig' %}


{% block body %}

<h1>ACTUALITÉS</h1>

<div>
<img src="../img/img_art1.jpg"  class="img">
</div>

<div class=color>Lorem ipsum dolor sit amet consectetur adipisicing elit.
 Corrupti magni nesciunt illo provident facilis dignissimos aut non offic
 iis recusandae saepe nostrum voluptate veniam libero iusto culpa nemo ani
 mi, nullaLorem ipsum dolor sit amet consectetur adipisicing elit.
 Corrupti magni nesciunt illo provident facilis dignissimos aut non offic
 iis recusandae saepe nostrum voluptate veniam libero iusto culpa nemo ani
 mi, nullaLorem ipsum dolor sit amet consectetur adipisicing elit.
 Corrupti magni nesciunt illo provident facilis dignissimos aut non offic
 iis recusandae saepe nostrum voluptate veniam libero iusto culpa nemo ani
 mi, nullaLorem ipsum dolor sit amet consectetur adipisicing elit.
 Corrupti magni nesciunt illo provident facilis dignissimos aut non offic
 iis recusandae saepe nostrum voluptate veniam libero iusto culpa nemo ani
 mi, nulla</div>


{% endblock %}