{% extends 'base.html.twig' %}


{% block body %}

<h1>NOTRE STUDIO</h1>


<div class="division">
<img src="../img/img_ns1.jpg" class="imgstudio">
<p class="description">Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.</p>
</div>

<div class="division">
<p class="description">Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.</p>
<img src="../img/img_ns2.jpg" class="imgstudio">
</div>

<h2>FONDATEURS</h2>


<div class="personnel">
<img src="../img/jean.jpg" class="fondateurs">
<img src="../img/aurore.jpg" class="fondateurs">
<img src="../img/gaelle.JPG" class="fondateurs">
</div>

<div class="personnel">
<h3>Gaëlle Lebouhellee</h3>
<h3>Jean Venden Berg</h3>
<h3>Aurore Durand</h3>
</div>

<div class="personnel">
<p class="texte">Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.</p>
<p class="texte">Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.</p>
<p class="texte">Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.</p>
</div>

<div class="color">
<p class="contact">NOTRE ADRESSE</p>
<p class="contact">OÙ EST-CE QUE VOUS POUVEZ NOUS TROUVER</p>


<div class="mail">
<img src="../img/phone-call.png" class="logos">
<img src="../img/email.png" class="logos">
<img src="../img/linkedin.png" class="logos">
</div>

<div class="personnel">
<p class="description">NOUS APPELER</p>
<p class="description">ADRESSE EMAIL</p>
<p class="description">LINKEDIN</p>
</div>

<div class="personnel">
<a href="" class="lien">0677890001</a>
<a href="" class="lien">coopnistudio.gmail.com</a>
<a href="https://www.linkedin.com/in/enzo-coumel-050233222/" class="lien" target="_blank">coopnistudio</a>
</div>
<div>
<p class="email">Un problème ? Contactez-nous à cette adresse : <a href="" class="lien">coopnistudio.maintenace.gmail.com</a></p>
</div>
</div>
{% endblock %}