     {% extends 'base.html.twig' %}

      {% block body %}
<h1>CONTACT</h1>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sequi eligendi aliquid nesciunt vero beatae doloremque quaerat, enim nam veniam ipsam odio tenetur maxime itaque possimus vitae esse laudantium ducimus temporibus delectus! Omnis ad quo accusamus repellendus amet animi esse culpa.</p>
<p>Libero adipisci illo officia nemo cum suscipit doloribus perferendis architecto quaerat numquam iusto harum assumenda, laboriosam nulla in illum recusandae tempora dignissimos accusantium dolorum doloremque inventore ipsam enim quidem! Vero sapiente error, mollitia facere laudantium cumque explicabo sunt quisquam aperiam.</p>