{% extends 'base.html.twig' %}


{% block body %}
<div id="maison">
<img src="../img/achat_how.png" class="how_about">
<div>
<img src="../img/arrow.png" id="arrow">
<button class="bt3" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('login') }}';" value=""/>
    ACHETER
    </button>
</div>
</div>
{% endblock %}
