{% extends 'base.html.twig' %}


{% block body %}
<div id="maison">
    <img src="../img/achat_how.png" class="how_about">
    <div>
        <img src="../img/arrow.png" id="arrow">
        <button class="bt3" type = "button"
            <input type="button" onclick="window.location.href = '{{ path('login') }}';" value=""/>
            ACHETER
        </button>
    </div>
</div>

<div id="photo">
    <div style="margin-left: 30%;">
        <h4>SERIOUS GAME</h4>
        <img src="../img/img_serious.jpg" class="img" style="margin-top: -150px;">
        <img src="../img/bulle_texte_1.png" style="margin-top: -100px;width: 500px;">
        <p class="description" style="margin-bottom: 300px;margin-top: -150px;">Lorem ipsum dolor, sit amet consected exercitationem ipsam sint, culpa maxime quasi fugit dolor?</p>
    </div>
    <div>
        <img src="../img/img_art2.jpg" class="img">
        <h2>HOW ABOUT</h2>
        <img src="../img/bulle_texte_1.png" >
        <p class="description">Lorem ipsum dolor, sit amet consected exercitationem ipsam sint, culpa maxime quasi fugit dolor?</p>
    </div>
    <div>
        <h2>NARRATIVE GAME</h2>
        <img src="../img/bulle_texte_1.png">
        <p class="description">Lorem ipsum dolor, sit amet consected exercitationem ipsam sint, culpa maxime quasi fugit dolor?</p>
        <img src="../img/img_gamep.png" class="img">
    </div>
    <div>
        <h2>SERIOUS GAME</h2>
        
    </div>
</div>
{% endblock %}
