     {% extends 'base.html.twig' %}
{% block body %}
  
<h1>MENTIONS LÉGALES</h1>

<div class=color>Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci repr ullam pariatur
, praesentium odio ipsa quos est similique porro!Lorem ipsum dolor sit amet consectetur, adipisicing elit. 
Commodi odio deleniti animi, at laboriosam ullam laudantium? 
Adipisci reprehenderit, consequuntur deleniti aperiam ullam pariatur
, praesentium odio ipsa quos est similique porro!</div>

<img src="../img/img_logo2.png" class="coopni">

{% endblock %}