     {% extends 'base.html.twig' %}

   
    
    {% block body %}

    <h1 class = connexion>Connectez-vous</h1>

    
    <button class="bt1" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('login') }}';" value=""/>
    Connexion
    </button>

    <button class="bt2" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('registration') }}';" value=""/>
    Inscription
    </button>

    <button class="bt1" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('home') }}';" value=""/>
    Continuez en tant qu'invité
    </button>
    {% endblock %}






















