<!DOCTYPE html>
<html lang="fr">
<html>
    <head>
    <meta charset="UTF-8">
        <title>Connexion</title>
        <link rel="stylesheet" href="/assets/styles/app.css">
        <link href="https://fonts.googleapis.com/css2?family=Covered+By+Your+Grace&family=Lato:wght@300&family=Shadows+Into+Light&display=swap" rel="stylesheet">
    </head>
    <body>

        <h1 class = connexion>Connectez-vous</h1>

    
    <button id="bt1" type = "button">
    Connectez-vous 
    </button>

  <button id="bt2" type = "button">
    Inscription

    <button id="bt3" type = "button">
    Continuez en tant qu'invité
</button>
</body>
</html>




















