     {% extends 'base.html.twig' %}

   
    
    {% block body %}

        <h1 class = connexion>Connectez-vous</h1>

    
    <button id="bt1" type = "button">
    Connectez-vous 
    </button>

  <button id="bt2" type = "button">
    Inscription

    <button id="bt3" type = "button">
    Continuez en tant qu'invité
    </button>
    {% endblock %}






















