     {% extends 'base.html.twig' %}

   
    
    {% block body %}

<<<<<<< HEAD
        <h1>Connectez-vous</h1>
=======
    <h1 class = connexion>Connectez-vous</h1>
>>>>>>> c5188a787ed9129d64f6975d3ee1d22a11974b56

    
    <button id="bt1" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('login') }}';" value=""/>
    Connexion
    </button>

    <button id="bt2" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('registration') }}';" value=""/>
    Inscription
    </button>

    <button id="bt3" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('home') }}';" value=""/>
    Continuez en tant qu'invité
    </button>
    {% endblock %}






















