{% extends 'base.html.twig' %}
{% block body %}

<h1>CONFIRMATION DE COMMANDE</h1>

<div>
<p class=texte >Lorem ipsum dolor, sit amet consectetur adipisicing elit.amet exercitationem qui,
<br>
Dolorum harum dolores rerum ea possimus provident aliquid,
<br> 
aperiam autem iure ad inventore!</p>
</div>

<img src="../img/img_perso.png" class="coopni">
{% endblock %}



