{% extends 'base.html.twig' %}


{% block body %}
<h1>SUIVI DE COMMANDE</h1>
<div id="div">
<img src="../img/achat_how.png"  class="">
<p id="order-tracking">Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.Lorem ipsum dolor sit amet. Ut odio eveniet ut atque aliquam sit nostrum culpa.</p>
</div>
<button class="bt2" type = "button"
    <input type="button" onclick="window.location.href = '{{ path('contactus') }}';" id="btn"/>
    Problème
    </button>

{% endblock %}