     {% extends 'base.html.twig' %}
<html>
    <head>
    <meta charset="UTF-8">
        <title>Paiement</title>
     <link rel="stylesheet" href="/assets/styles/app.css">
    </head>
  <body>

 <h1>Paiement</h1>
 <p>Adresse e-mail <input /></p>
 <p>Confirmer e-mail <input /></p></p>

 <h2>Adresse de facturation</h2>

 <h3>Mode de paiement</h3>

    <button id="bt1" type = "button">
    Valider
</button>

</button>
</body>
</html>