
#bt1 {
    background-color: #953f95;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 40px;
    padding:5px;
    width:200px;
}

#bt2 {
    background-color: #1a2b49;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 40px;
    padding:5px;
    width:200px;
}

#bt3{
    background-color: #953f95;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 40px;
    padding:5px;
    width:200px;
}

p, a{
    font-family: 'PT Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
    color: white;
}

h1{
    text-align: center;
    margin-top: 300px;
    color: white;
    font-family: 'Covered By Your Grace', cursive;
    font-family: 'Lato', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-size: 70px;
}

body {
    background-color: #121212;
    padding: 0%;
    margin: 0%;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    overflow: hidden;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

svg{
    z-index:-1;
    position: absolute;
}

li {
    float:left;
    display: flex;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.login,  .panier{
    width: 50px;
}
.logo{
    width: 250px;
}
.plateforme{
    width: 140px;
}

.content-desktop {
    display: inline;
    }
    
.content-mobile {
    display: none;
    }

@media screen and (max-width: 800px)
{
    .login, .panier{
        width: 40px;
    }
    .logo{
        width: 90px;
    }
    .content-desktop {
        display: none;
        }
        
    .content-mobile {
        display: inline;
        }
}

footer{
    background-color: #0e0e0e;
}

.txt{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

ul.txt{
    display: flex;
    align-items: center;
    justify-content: center;
}

.color{
    padding: 100px;
    margin-bottom: 100px;
    background-color: gray;
    font-family: 'Roboto', sans-serif;
}

.texte{
    text-align: center;
    color: white;
    font-family: 'Roboto', sans-serif;
}

.coopni{
    display: block;
    margin: auto;
    padding-top: 100px;
    padding-bottom: 100px;
    

}
.img{
    border-radius: 25px;
    width: 500px;
    margin: auto;
    display: block;
}