body {
    background-color: lightgray;
}

#bt1 {
    background-color: #953f95;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 40px;
    padding:5px;
    width:200px;
}

#bt2 {
    background-color: #1a2b49;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 40px;
    padding:5px;
    width:200px;
}

#bt3{
    background-color: #953f95;
    margin-left: 45%;
    border-radius: 10px;
    margin-top: 40px;
    padding:5px;
    width:200px;
}

.connexion {
text-align: center;
margin-top: 300px;
color: white;
font-family: 'Covered By Your Grace', cursive;
font-family: 'Lato', sans-serif;
font-family: 'Shadows Into Light', cursive;
}